body {
    background-color: rgb(4, 4, 26);
    color: white;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    padding: 50px;
    border-radius: 10px;
}

/* Project Section */
.projects {
    padding: 40px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 20px
}

.project-card {
    background: linear-gradient(135deg, #440f49, #6e09e9);
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Skills Section */
.skills {
    padding: 40px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #2d1d42;
    border-radius: 5px;
}

.skills li:first-child {
    margin-left: 0;
}