body {
    background-color: rgb(4, 4, 26);
    color: white;
    margin: 0;
    padding: 0;
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    padding: 50px;
    border-radius: 10px;
}